name: Build KeyVerify Dylib
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -B build -S .
      - name: Build dylib
        run: cmake --build build
      - name: Upload dylib artifact
        uses: actions/upload-artifact@v4
        with:
          name: KeyVerify-Dylib
          path: ${{ github.workspace }}/build/lib/* # 匹配build/lib下的所有产物